<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <%= simple_form_for @order do |f| %> 

            <%= f.input :order_date, collection: @days %>
            <%= f.input :guest_name %>
            <%= f.input :guest_number %>
            <%= f.input :guest_email %>
            <%= f.input :call_pref %>
            <%= f.input :text_pref %>
            <%= f.input :pickupTime %>
            <%= f.input :pickup_notes %>

            <%= simple_fields_for :order_collections do |p| %>

              <%= p.input :quantity %>
              <%= p.input :day_id, collection: @days %>
              <%= p.input :loaf_id, collection: @loafs %>  
            <% end %>

            <%= simple_fields_for :order_collections do |p| %>

              <%= p.input :quantity %>
              <%= p.input :day_id, collection: @days %>
              <%= p.input :loaf_id, collection: @loafs %>  
            <% end %>



          <%= f.button :submit %>
        <% end %> 
    </div>
  </div>
</div>




  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

