<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <%= simple_form_for @order do |f| %>
            <%= f.input :guest_name %>
            <%= f.input :guest_number %>
            <%= f.input :order_date %>
            <%= f.input :order_details %>
            <%= f.input :paid %>
            <%= f.input :order_made %>
            <%= f.input :call %>
            <%= f.input :text %>
          <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>




  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

