

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <%= simple_form_for @day do |f| %>
          <%= f.input :order_limit %>
          <%= f.input :openings %>
          <%= f.input :closed, as: :radio_buttons %>
          <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>

  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
