
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <%= simple_form_for @loaf do |f| %>
          <%= f.input :category_id, collection: @categories, required: true  %>
          <%= f.input :name, required: true %>
          <%= f.input :ingredients %>
          <%= f.input :active_item, as: :radio_buttons, required: true %>
          <%= f.file_field :image, required: false %>
          <%= f.input :price %>          
          <%= f.button :submit, class: 'btn btn-info text-white' %> 
        <% end %>
    </div>
  </div>
</div>


  <% if loaf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loaf.errors.count, "error") %> prohibited this loaf from being saved:</h2>

      <ul>
      <% loaf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

