<p id="notice"><%= notice %></p>



<h6> Name:<%= @loaf.name %></h6>
<h6> Ingredients: <%= @loaf.ingredients  %></h6>
<h6> Active: <%= @loaf.active_item %></h6>
<h6> Price: <%= @loaf.price  %></h6>
<h6> Category: <%= @loaf.category_id %></h6>
<p>Image:</p>
      <%= image_tag @loaf.image %>
       

<%= link_to 'Edit', edit_loaf_path(@loaf) %> |
