<div class="row flex">
	<% @loafs.each do |x| %>
		<% if x.image.attached? == true %>
	    	<div class="col-lg-4 col-sm-6">
				  
				  <div class="thumbnail ShowIngred">
				    <%= image_tag(x.image) %>
				  </div>

				  <div class="photoGridIngredients" style="opacity: .1;">
				  	<h6 class="center">
				  		<%= x.name %><br>
				  		<%= x.ingredients %>
				  	</h6>
				  </div>

		    </div>
		<% else %> 
					    	<!--
					    	<div class="carousel-item" %>
								  <div class="carousel-caption  ">
								    <h4><i style="color:rgb(255, 205, 94);"><%= x.name %></i></h4>
								    <p>  <%= x.ingredients %> </p>
								  </div>
						    </div>
							-->
		<% end %>
	<% end %>
</div>

<script type="text/javascript">

		var ingredientsNOW = document.getElementsByClassName('ShowIngred')

		for(var i =0; i < ingredientsNOW.length; i++){

			ingredientsNOW[i].addEventListener('mouseover', function(e){
					e.path[2].childNodes[3].style.opacity = 1; 
			})

			ingredientsNOW[i].addEventListener('mouseout', function(e){
				e.path[2].childNodes[3].style.opacity = .1
			})
		}




</script>


