<div class="row flex">
	<% @loafs.each do |x| %>
		<% if x.image.attached? == true %>
	    	<div class="col-lg-4 col-sm-6">
				  
				  <div class="photoGridIngredients">
				  	<button  class="btn btn-outline-warning btn-lg text-white ShowIngred" >READ MORE</button>
				  	<h4 style="opacity: .1;" class="center"><%= x.ingredients %></h4>
				  </div>

				  <div class="thumbnail zoom">
				    <%= image_tag(x.image) %>
				    <p class="center"><%= x.name %></p>
				  </div>

		    </div>
		<% else %> 
					    	<!--
					    	<div class="carousel-item" %>
								  <div class="carousel-caption  ">
								    <h4><i style="color:rgb(255, 205, 94);"><%= x.name %></i></h4>
								    <p>  <%= x.ingredients %> </p>
								  </div>
						    </div>
							-->
		<% end %>
	<% end %>
</div>

<script type="text/javascript">

		var ingredientsNOW = document.getElementsByClassName('ShowIngred')

		for(var i =0; i < ingredientsNOW.length; i++){
			ingredientsNOW[i].addEventListener('click', function(e){
				if(e.srcElement.nextElementSibling.style.opacity < .5){
					e.srcElement.nextElementSibling.style.opacity = 1; 
				} else {
					e.srcElement.nextElementSibling.style.opacity = .1; 
				}

			})
		}




</script>


