
<h1>Admin Page</h1> 
<p id="notice"><%= notice %></p>


<h1>Days</h1>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Date:</th>
      <th>Total Orders:</th>
      <th>Order Limit </th>
      <th>Order Details:</th>
      <th colspan="3">Edit/Delete Day</th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.this_date.strftime("%Y-%m-%d") %> </td>
        <td><%= day.openings %> </td>
        <td><%= day.order_limit %></td>
        <td> <% day.orders.each do |order| %>
                <% order.order_details.each do|k,v| %>
                  <p><%= order.guest_name %> wants <%= v['quantity']%> : <%= v['type'] %></p>
                  <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
                 <%= link_to 'Show', order %>
                <% end %>
             <% end %>
        </td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Loafs</h1>
<td><%= link_to 'New Loaf', new_loaf_path %></td>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Ingredients </th>
      <th> Price </th>
      <th> Active? </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loafs.each do |loaf| %>
      <tr>
        <td><%= loaf.name %></td>
        <td><%= loaf.ingredients %></td>
        <td><%= loaf.price %></td>
        <td><%= loaf.active_item %></td>
        <td><%= link_to 'Show', loaf %></td>
        <td><%= link_to 'Edit', edit_loaf_path(loaf) %></td>
        <td><%= link_to 'Destroy', loaf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>