  <!-- -->
  <% if notice.present? %>
     <p class="alert alert-info"><%= notice %></p>
  <% end %>
    <% if alert.kind_of?(Array)%>
       <ul>
         <% alert.each do |x| %>
           <li class="alert alert-danger" ><%= x %></li>
         <% end %>
       </ul>
    <% elsif alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
    <% else %>    
  
  <% end %>
<h1 style="text-align: center">Admin Page</h1>  

<%= link_to 'log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white' %>
<!-- -->
<hr>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-12">
        <h1 style="text-align: center">Daze & Orders</h1>
        <!-- Start -->
        <div id="accordion">
            <% counter = 0 %>
            <% @days.each do |day| %>
            <% counter = counter.to_i + 1%>
              <div class="card"> 

                  <div class="card-header" id="headingOne<%=counter%>">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne<%=counter%>" aria-expanded="true" aria-controls="collapseOne<%=counter%>">
                        <h4>DATE: <%= day.this_date.strftime("%Y-%m-%d") %></h4><p> Spots Open: <%= day.avaliable_spots %> of <%= day.max_orders %></p>
                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne<%=counter%>" class="collapse" aria-labelledby="headingOne<%=counter%>" data-parent="#accordion">
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>ORDER Details:</th>
                            <th>Edit Day</th>
                            <th>Delete Day</th>
                          </tr>
                        </thead>
                        <tbody>
                              <tr >
                                  <td class="order_box"> <% day.orders.each do |order| %>
                                        <div style="border: 1px black solid; margin-bottom: 5px;">
                                              <p>Name: <%= order.guest_name %></p>
                                             <!-- -->
                                             <% order.order_collections.each do |oc|%>
                                             <p>
                                              <%= oc.quantity %>

                                              <!-- Loafs are dependant on categories being deleted.Association -->
                                              <%#= Loaf.find_by_id(oc.loaf_id).name %>

                                              
                                            </p>
                                             <% end %>
                                             <!-- -->


                                              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Delete This Order??' }, class: 'btn btn-danger text-white' %>
                                             <%= link_to 'Show', order, class: 'btn btn-info text-white' %>
                                        </div>
                                        <% end %>       
                                  </td>

                                  <td><%= link_to 'Edit', edit_day_path(day), class: 'btn btn-info text-white' %></td>
                                  <td>
                                    <%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Delete Day & Orders??' }, class: 'btn btn-danger text-white' %> 
                                  </td>
                              </tr>
                              <hr>

                        </tbody>
                      </table>
                    </div>
                  </div>

              </div><!-- Card -->
            <% end %>
        </div><!-- Accord-->
        <!-- End -->
        <br>
    </div>
  </div>

<!-- -->
<div class="row">
  <p>Quick Edit Date</p>

        <div class="form-group">
            <select class="testForm" for="date" id="edit_date_selection">
              <option >Pick Date</option>
              <% @dayCollection.each do |dc| %>
              <option > <%= Date.parse(dc).strftime('%A, %B %e, %Y') %>  </option>

              <% end %>
            </select> 
        </div>
        <button type="button" id="edit_date">Edit Date</button>



</div>

<!-- -->
  <hr>
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center">Loafs</h1>
      <td><%= link_to 'New Loaf', new_loaf_path, class: 'btn btn-primary text-white' %></td>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Name </th>
            <th> Ingredients </th>
            <th> Category </th>
            <th> Price </th>
            <th> Active? </th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @loafs.each do |loaf| %>
            <tr>
              <td><%= loaf.name %></td>
              <td><%= loaf.ingredients %></td>
              <td><%= Category.find_by_id(loaf.category_id).name %></td>
              <td><%= loaf.price %></td>
              <td><%= loaf.active_item %></td>
              <td><%= link_to 'Show', loaf %></td>
              <td><%= link_to 'Edit', edit_loaf_path(loaf) %></td>
              <td><%= link_to 'Destroy', loaf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- -->
  <hr>
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center">Categories</h1>
      <%= link_to 'New Category', new_category_path, class: 'btn btn-primary text-white' %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Name </th>
            <th> Price </th>
            <th> Active? </th>
            <th> ID </th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |cat| %>
            <tr>
              <td><%= cat.name %></td>
              <td><%= cat.price %> </td>
              <td><%= cat.active %></td>
              <td><%= cat.id %></td>
              <td><%= link_to 'Edit', edit_category_path(cat) %></td>
              <td><%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <hr>
    <!-- -->
  <div class="row">
    <h1>Days Of Weeks</h1>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Day Of Week</th>
            <th>Open?</th>
            <th>Toggle</th>
          </tr>
        </thead>
        <tbody id="musics">
          <% @days_of_weeks.each do |dow| %>
          <tr >
            <td id="idk_<%=dow.id %>"><%= dow.title %></td>
            <td><%= dow.open %></td>
            <td>
              <%= link_to 'Toggle', toggle_path(dow), method: :post, class: 'btn btn-primary text-white', remote: true  %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <!-- -->


