

<div class="container-fluid">
<!-- Section Three -->
    <div class="row sectionThree">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h3>Reserve your loaf today!</h3>
			<hr>
		</div>
    	<div class="col-sm-12 col-md-12 col-lg-12" id="calendar">
			<%= calendar events: @days, number_of_days: 7 do |date, event| %>

			  <button class="day_selector btn-sm btn-warning"><%= date.strftime("%Y-%m-%d") %></button>
			  <% event.each do |x| %>
			  	<p><%= x.openings %> Left</p>
			  <% end %>
 
			<% end %> 
			<hr>
    	</div>
	</div>
<!-- -->
<div class="row sectionTwo">
	<div class="col-12">
		<h3>Comin' in hot this Week</h3>
	</div>
	<% @category.each do |cat| %>
		<div class="col-sm col-md col-lg infoBox">
			<h3><%= cat.name %>...$<%= cat.price %></h3>
			<ul>
			<% @loafs.each do |loaf| %>
				<% if loaf.category_id == cat.id %>
					<li><%= loaf.name %><br> <sub><%= loaf.ingredients%> </sub> </li>
				<% end %>
			<% end %>
			</ul>
		</div>
	<% end %>
</div>
<!-- -->
</div>
<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>

			  <div class="carousel-inner carPhoto">
			    <div class="carousel-item active" style="background-image: url(/assets/Bread1)">

					  <div class="carousel-caption  ">
					    <h4><i style="color:rgb(255, 205, 94);">Delicous</i> Fresh Baked Bread</h4>
					    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet vehicula mi, sit amet tincidunt lectus. Morbi non dapibus nunc, at molestie tortor. Nam aliquet velit eros, sit amet ultricies sapien molestie sit amet.</p>
					    <button type="button" class="btn btn-warning redica">Reserve Now</button>
					  </div>
			    </div>
			    <div class="carousel-item" style="background-image: url('/assets/Bread2')">
					  <div class="carousel-caption ">
					    <h4>Hand <i style="color:rgb(255, 205, 94);">Made</i></h4>
					    <p>Donec vel hendrerit quam, eget hendrerit arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
					    <button type="button" class="btn btn-warning redica">Reserve Now</button>
					  </div>
			    </div>
			    <div class="carousel-item" style="background-image: url('/assets/Bread3')">
					  <div class="carousel-caption ">
					    <h4><i style="color:rgb(255, 205, 94);">Scotty Fn Bakes</i></h4>
					    <p>Donec fermentum turpis in semper gravida. Etiam sollicitudin, ligula a placerat pulvinar, erat odio hendrerit erat, venenatis scelerisque est tortor pellentesque tellus. Sed a ligula consequat, pharetra lorem placerat, rutrum tortor.  </p>
					    <button type="button" class="btn btn-warning redica">Reserve Now</button>
					  </div>
			    </div>
			  </div>

			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div> 
	</header>		
	<!-- Section Two --> 

<div id="footer" class="py-4 text-white-50 container-fluid">
    <div class="row">
    	<div class="offset-1"></div>
		<div id="map" class="col-lg col-md col-sm">

		</div>
    	<div class="col-lg col-md col-sm text-right">
		     <h5>Scotty Fn Bakes <br>
		      440 Coit Rd<br>
		      Plano, TX 75075 <br>
		  	</h5><br>
		  	<h6>Operating Under Texas Cottage Act</h6><a href="https://texascottagefoodlaw.com/">Read More</a>
		     <h6>Made By GlassMinds LLC</h6>	
    	</div>
		<!--The div element for the map -->
    </div>
</div>

<script type="text/javascript">
	var btnlis = document.getElementsByClassName('redica')
	for (var i = 0; i < btnlis.length; i++) {
		btnlis[i].addEventListener('click', function(e){
			console.log("click")
			document.getElementById('calendar').scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"})
		})
	}

</script>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 33.004600, lng: -96.766260};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 11, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=XXX&callback=initMap">
    </script>



