<!DOCTYPE html>
<html>
  <head>
    <title>Fresh Baked Bread</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Fresh baked bread from Plano Texas 75075">

      <div class="introSection container-fluid"> 

        <div class="row" style="margin: none; padding: none;">
          <div class="col-sm">
            </div>
            <div class="col-sm">
              <%= image_tag("SFB-b&w-round.png", class: "card-img-top img-fluid") %>
            </div>
            <div class="col-sm">
            </div>
        </div>

        <div class="row">
            <div class="col-sm" style="text-align: left;">
              <%= link_to '713.392.3355', "tel:713-392-3355" %><br>
              <%= mail_to "scottyfnbakes@gmail.com", 'scottyfnbakes@gmail.com', id: 'hoverEffect' %>
            </div>

            <div class="col-sm signature">
              <%= link_to "Scotty Fn Bakes", root_path %>
            </div>

            <div class="col-sm signature " style="text-align: right;">
              <a  href="https://www.instagram.com/scottyfnbakes/?igshid=1msej3frrklrp"> <i class="fa fa-instagram" style="font-size:25px; color: #F2A61B;" ></i></a>

              <% if user_signed_in? %>
                <%= link_to "ADMIN LINK", admin_page_path %>
              <% end %> 

            </div>
        </div>
      </div>

    <%= yield %>
  </body>
</html>
