<!DOCTYPE html>
<html>
  <head>
    <title>ScottyFnBakes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <nav class="navbar fixed-top navbar-light bg-light">
        
        <%= link_to "Scotty Fn Bakes", root_path, class:'navbar-brand', style: 'margin: auto;' %>
        <a class="navbar-brand" > IG</a>
      </nav>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
